:root {
  /* Accent Colors */
  --accent-green: #2ecc70;
  --accent-dark-green: #1c8247;
  --accent-blue: hsl(217, 91%, 60%);
  --accent-dark-blue: hsl(217, 63%, 41%);

  /* Extra colors: Light */
  --blue-light: #5baeff;
  --green-blue-light: #4fd3dc;
  --green-light: #5fd98a;
  --orange-light: #ff9f5e;
  --purple-light: #b07adf;
  --red-light: #f76c6c;
  --yellow-light: #ffe04b;

  /* Extra colors: Regular */
  --blue: #3c83f6;
  --green-blue: #17c3ce;
  --green: #2ecc70;
  --orange: #ec7429;
  --purple: #9e3ac5;
  --red: #ff2739;
  --yellow: #f1c40f;

  /* Extra colors: Dark */
  --blue-dark: #2759aa;
  --green-blue-dark: #11737c;
  --green-dark: #1c8247;
  --orange-dark: #cc6a25;
  --purple-dark: #6d3793;
  --red-dark: #a7282d;
  --yellow-dark: #b38e00;

  /* BG Colors */
  --bg-black: #0d0d0d;
  --bg-dark: #1a1a1a;
  --bg-light: #333333;

  /* FG Colors */
  --fg-white: #f2f2f2;
  --fg-damp-white: #bfbfbf;

  /* TXT Colors */
  --txt-white: var(--fg-white);
  --txt-link: var(var(--blue-light))
}