body.introplaying { 
    overflow: hidden; 
}

#intro-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  backdrop-filter: blur(8px);
  background: linear-gradient(0deg, var(--bg-intro), var(--bg-intro-2)) center/cover no-repeat;
  display: flex; justify-content: center; align-items: center;
  z-index: 999999;
  opacity: 1;
  transition: opacity 0.4s ease, filter 0.2s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

#intro-overlay.fade-out {
    opacity: 0;
    pointer-events: none;
    filter: blur(10px);
    transform: scale(1.5);
}

#intro-overlay img {
    border-radius: 12px;
    width: 50vw;
    max-width: 150px;
}

#intro-overlay l-zoomies {
    width: 50vw;
    max-width: 150px;
}