* {
    scrollbar-color: var(--accent) var(--bg-2);
}

html, body {
    overscroll-behavior: none;
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
    color: var(--txt);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #202020;
}

nav img {
    width: 4rem;
    height: 4rem;
}

header {
    margin-top: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

section {
    margin-top: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    scroll-margin-top: 20vh;
}

nav a {
    color: var(--txt-link);
    text-decoration: none;
    border-bottom: 1px solid var(--txt-link);
}

a {
    color: var(--txt-link);
}

.card {
    background-color: var(--bg-2);
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.card .card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .card-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card .card-head img {
    width: 75px;
    height: 75px;
    border-radius: 8px;
}

.card .card-title p, .card-title h2, .card-title h3 {
  padding: 0;
  margin: 0;
}
