/* TODO: 
        - Remove temporary shit (Joplay) <- Who added the todo
*/

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg-black);
  color: var(--fg-damp-white);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: var(--fg-white);
  background: #161616;
  background: radial-gradient(at center, #161616 0%, #0D0D0D 60%);
  transition: .4s ease-in-out;
}

header h1, header p {
  text-align: center;
  margin: 0;
  font-size: 4rem;
  padding: 0;
}

header p {
  font-size: medium;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
  }

  .navbarmenu {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }

  #open {
    margin-top: 1rem;
  }
}

@media (min-width: 769px) {

  #close,
  #open {
    display: none;
  }

  .navbarmenu {
    display: flex;
  }
}


footer {
  display: block;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--text-light);
  transition: all 0.5s ease-in-out;
  bottom: 0px;
  background: var(--bg-dark);
  transition: .4s ease-in-out;
  border-top: 2px solid var(--accent-green);
  background: var(--bg-dark);
  color: var(--fg-damp-white);
}

footer h1 {
  align-items: center;
  color: var(--bg-black);
  margin: 1rem 1rem 1rem 2rem;
  font-size: 4rem;
}

footer p {
  margin: 0;
}

/* Used as classes in span tags for colored text */
.col-green {
  color: var(--green);
}

/* same, but with glow */
.glow-green {
  transition: .6s text-shadow;
}
.glow-green:hover {
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.6);
}

.card {
  background-color: var(--bg-dark);
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
  padding: 10px;
}

.card img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  line-height: 4px;
}

.card-title p, .card-title h2 {
  padding: 0;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 10px;
  margin: 0 auto;
  justify-items: center;
  max-width: 600px;
}

hr {
  width: 65%;
  height: 0px;
  border: none;
  border-top: 2px solid var(--accent-green);
}

p,
h3 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#platforms {
  display: flex;
  justify-content: center;
}

#platforms svg {
  width: 50px;
  padding: 10px;
}