/* TODO: 
        - Remove temporary shit (Joplay) <- Who added the todo
*/

:root {
  /* Accent Colors */
  --accent-green: #2ecc70;
  --accent-dark-green: #1c8247;
  --accent-blue: hsl(217, 91%, 60%);
  --accent-dark-blue: hsl(217, 63%, 41%);

  /* Extra colors: Light */
  --blue-light: #5baeff;
  --green-blue-light: #4fd3dc;
  --green-light: #5fd98a;
  --orange-light: #ff9f5e;
  --purple-light: #b07adf;
  --red-light: #f76c6c;
  --yellow-light: #ffe04b;

  /* Extra colors: Regular */
  --blue: #3c83f6;
  --green-blue: #17c3ce;
  --green: #2ecc70;
  --orange: #ec7429;
  --purple: #9e3ac5;
  --red: #ff2739;
  --yellow: #f1c40f;

  /* Extra colors: Dark */
  --blue-dark: #2759aa;
  --green-blue-dark: #11737c;
  --green-dark: #1c8247;
  --orange-dark: #cc6a25;
  --purple-dark: #6d3793;
  --red-dark: #a7282d;
  --yellow-dark: #b38e00;

  /* BG Colors */
  --bg-black: #0d0d0d;
  --bg-dark: #1a1a1a;
  --bg-light: #333333;

  /* FG Colors */
  --fg-white: #f2f2f2;
  --fg-damp-white: #bfbfbf;

  /* TXT Colors */
  --txt-white: var(--fg-white);
  --txt-link: var(var(--blue-light))
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg-black);
  color: var(--fg-damp-white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  color: var(--text-light);
  transition: all 0.5s ease-in-out;
  background: var(--bg-dark);
  transition: .4s ease-in-out;
  border-bottom: 2px solid var(--accent-green);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: var(--fg-white);
  background: #161616;
  background: radial-gradient(at center, #161616 0%, #0D0D0D 60%);
  transition: .4s ease-in-out;
}

header h1, header p {
  text-align: center;
  margin: 0;
  font-size: 4rem;
  padding: 0;
}

header p {
  font-size: medium;
}



.navbarlogo {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbarmenu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  color: var(--txt-white);
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: var(--txt-link);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--accent-green);
}

.burger-menu {
  cursor: pointer;
  color: var(--txt-white);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
  }

  .navbarmenu {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }

  #open {
    margin-top: 1rem;
  }
}

@media (min-width: 769px) {

  #close,
  #open {
    display: none;
  }

  .navbarmenu {
    display: flex;
  }
}


footer {
  display: block;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--text-light);
  transition: all 0.5s ease-in-out;
  bottom: 0px;
  background: var(--bg-dark);
  transition: .4s ease-in-out;
  border-top: 2px solid var(--accent-green);
  background: var(--bg-dark);
  color: var(--fg-damp-white);
}

footer h1 {
  align-items: center;
  color: var(--bg-black);
  margin: 1rem 1rem 1rem 2rem;
  font-size: 4rem;
}

footer p {
  margin: 0;
}

/* Used as classes in span tags for colored text */
.col-green {
  color: var(--green);
}

/* same, but with glow */
.glow-green {
  transition: .6s text-shadow;
}
.glow-green:hover {
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.6);
}

.card {
  background-color: var(--bg-dark);
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
  padding: 10px;
}

.card img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  line-height: 4px;
}

.card-title p, .card-title h2 {
  padding: 0;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 10px;
  margin: 0 auto;
  justify-items: center;
  max-width: 600px;
}

hr {
  width: 65%;
  height: 0px;
  border: none;
  border-top: 2px solid var(--accent-green);
}

p,
h3 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#platforms {
  display: flex;
  justify-content: center;
}

#platforms img {
  width: 50px;
}