nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  color: var(--text-light);
  transition: all 0.5s ease-in-out;
  background: var(--bg-dark);
  transition: .4s ease-in-out;
  border-bottom: 2px solid var(--accent-green);
}

.navbarlogo {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbarmenu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  color: var(--txt-white);
  transition: all 0.5s ease-in-out;
}

.burger-menu {
  cursor: pointer;
  color: var(--txt-white);
  transition: all 0.5s ease-in-out;
}