a {
  text-decoration: none;
  color: var(--txt-link);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--accent-green);
}

hr {
  width: 65%;
  height: 0px;
  border: none;
  border-top: 2px solid var(--accent-green);
}

p,
h3 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}