:root {
    --bg: #0a0a0a;
    --bg-alt: #0a0a0ab0;
    --bg-2: #1f1f1f;
    --bg-intro: #0d0d0d25;
    --bg-intro-2: #2ecc7025;
    --accent: #2ecc71;

    --txt: #f1f1f1;
    --txt-link: #68e2a5;

    --font: 'monospace', monospace;
}